{% extends 'basic.html' %}

{% block body %}

<!-- About -->
<div class="container">
    <div class="heading">About</div>

    <p style="margin-bottom: 2px; margin-top: 2px;"> Having trouble in downloading videos from the platforms like
        Youtube, Pinterest ? </p>
    <p class="p"> Don't worry! Downloader made it easy by providing the service of downloading any video from anywhere
        in any
        format by doing some simple steps. This is the best free download tool you can use to get free video clips from
        YouTube, Pinterest. If you already use any of the platform for your video's needs, then this is
        definitely the right download tool for you.</p>
    <p class="p">Unfortunately, downloading videos from YouTube, Pinterest to our device is not something that can be
        done automatically from the application, but with Downloader and a few simple steps it can be done without a
        problem!
    </p>
    <p class="p">That platforms don't give you an option to download videos directly from the network, which is sad;
        But there is nothing to fear! We provide you the best and most reliable Pinterest, YouTube Video Downloader tool
        at
        Downloader. The process is fast and easy; you'll have all the videos you want from any platform in any formate
        in a matter of
        seconds with just a few clicks.
    </p>
    <p class="p">Start to use Loader.to to download Pinterest, Youtube videos and get on your device as many videos you
        want. The process
        is quick and straightforward.
    </p>
    </p>
</div>

<!-- features / services -->
<div class="container">
    <div class="heading">Features</div>
    <div class="row">
        <div class="col-8 col-md-6 col-lg-6 offset-2 offset-md-0 offset-lg-0">
            <div class="card">
                <i class="fab fa-youtube"></i>
                <div class="card-body">
                    <h5 class="card-title">Download YouTube Video</h5>
                    <ul>
                        <li>Convert Youtube Playlists to MP3</li>
                        <li>Download YouTube Videos as MP4</li>
                    </ul>
                    <p class="card-text" style="cursor: pointer;"><a href="/youtube">Let's Go.</a></p>
                </div>
            </div>
        </div>
        <div class="col-8 col-md-6 col-lg-6 offset-2 offset-md-0 offset-lg-0">
            <div class="card">
                <i class="fab fa-pinterest"></i>
                <div class="card-body">
                    <h5 class="card-title">Download Pinterest Video</h5>
                    <ul>
                        <li>Download Pinterest videos in HD</li>
                        <li>Download any video in any format</li>
                    </ul>
                    <p class="card-text" style="cursor: pointer;"><a href="/pinterest">Let's Go.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQ -->
<div class="container">
    <div class="heading">F.A.Q.</div>
    <div class="faq">
        <p class="que q1">Can we download any of the videos at free of cost ?
        </p>
        <p class="ans" id="a1">Yes, definitely! You can download any video at free of cost.</p>
    </div>
    <div class="faq">
        <p class="que" data-toggle="collapse" data-target="#Q2">How to download Pinterest videos in HD ?</p>
        <!-- <p class="ans" id="Q2">Simple, just paste the copied url from Facebook into the box, select format and press -->
        <!-- download to get it.</p> -->
    </div>
    <div class="faq">
        <p class="que" data-toggle="collapse" data-target="#Q4">Where are the videos saved after downloading ?</p>
        <!-- <p class="ans" id="Q4">This may vary depending on what OS you are using. For Android, Windows, and Mac users, -->
        <!-- you can find the downloaded videos in the Downloads folder.</p> -->
    </div>
    <div class="faq">
        <p class="que" data-toggle="collapse" data-target="#Q5">In which format we can download videos ?</p>
        <!-- <p class="ans" id="Q5">You can download any video in any format.</p> -->
    </div>
</div>

<!-- image -->
<div class="container mt-5 mb-5">
    <div class="des" style="text-align: center;">
        <img src="/media/m.jpg" class="img-thumbnail img-fluid photo" alt="...">
        <h5 style="margin-top: 10px;">Designed and Created by :</h5>
        <h5>Govinda Kamal Mahajan</h5>
    </div>
</div>

{% endblock body %}