<div class="container mt-5 mb-5">
  <div class="card" style="width: 70%; margin: auto;" >
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Download {{slug}} videos here.</h5>
        <hr>
        <form class="row g-1">
            <label for="validationDefault01" class="form-label">Enter the copied URL/link</label>
            <input type="text" name="link" class="form-control url-link" id="validationDefault01" required>
            <label for="validationDefault03" class="form-label">Select format</label>
            <select id="inputState" class="form-control formte">
              <option disabled style="font-weight: bold;">Audio</option>
                      <option value="mp3">MP3</option>
                      <option value="m4a">M4A</option>
                      <option value="webm">WEBM</option>
                      <option value="aac">AAC</option>
                      <option value="flac">FLAC</option>
                      <option value="opus">OPUS</option>
                      <option value="ogg">OGG</option>
              <option disabled style="font-weight: bold;">Video</option>
                      <option value="mp4a">144 Mp4</option>
                      <option value="360">360 Mp4</option>
                      <option selected value="480">480 Mp4</option>
                      <option value="720">720 Mp4</option>
                      <option value="1080">1080 Mp4</option>
                      <option value="4k">4k Mp4</option>
                      <option value="8k">8k Mp4</option>
            </select>
          <div class="col-12">
            <button class="btn btn-secondary mt-3 download-btn" style="width: 100%;" type="submit">Download</button>
          </div>
        </form>
      </div>
    </div>
</div>


<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
      <div class="card-header bg-info">
        <h5>Youtube Videos Download Any Online Videos - nicesnippets.com</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="text-weight"><b>Online Videos Link:</b></label>
              <input type="txt" name="link" class="form-control link" required>
            </div>
          </div>
        </div>
        <form class="form-download">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="text-weight"><b>Select Video Fromate:</b></label>
                <select class="form-control formte" required>
                  <option selected disabled>Select Video Formate</option>
                  <option value="mp3">Mp3</option>
                  <option value="mp4a">144 Mp4</option>
                  <option value="360">360 Mp4</option>
                  <option value="480">480 Mp4</option>
                  <option disabled>video</option>
                  <option value="720">720 Mp4</option>
                  <option value="1080">1080 Mp4</option>
                  <option value="4k">4k Mp4</option>
                  <option value="8k">8k Mp4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mt-4 download-video">
                <button class="btn btn-success btn-block click-btn-down" type="submit">Click Me</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>